header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-image: url(../assets/code-bg.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 300px;
    align-items: center;
    margin-top: 30px;
}

.header-logo {
    width: 20%;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

header {
    color: rgb(221, 221, 221);
}

.header-title {
    position: relative;
    width: 20%;
    top: 200px;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;

    p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.7em;
    }
}

.group {
    cursor: default;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #add8e6, 0 0 50px #add8e6, 0 0 60px #add8e6, 0 0 70px #add8e6;
        color: white;
    }
    50% {
        text-shadow: 0 0 20px #add8e6, 0 0 30px #add8e6, 0 0 40px #add8e6, 0 0 50px #add8e6, 0 0 60px #add8e6, 0 0 70px #add8e6, 0 0 80px #add8e6;
        color: #add8e6;
    }
    100% {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #add8e6, 0 0 50px #add8e6, 0 0 60px #add8e6, 0 0 70px #add8e6;
        color: white;
    }
}

.group:hover {
    scale: 1.2;
    animation: glow 1.5s infinite alternate;
}